*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    /* min-height: 100vh; */
}
.heading {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: large;
    background-color: #ffd900;
    color: black;
    text-align: center;
    width: 100%;
    margin: 0;
}
.d-flex {
    flex-wrap: wrap; /* Ensures responsiveness on small screens */
    margin-bottom: 20px; /* Adds space between rows */
    background-color: black;
    margin: 0;
    justify-content: center;
    gap: 20px;
}

.img-thumbnail{
    height: 100vh;
    width: 18%;
    object-fit: cover;
    margin-top: 15px;
    position: relative;
    transition: transform 0.3s ease-in-out; 
    z-index: 1;
    margin-bottom: 10px;
}


/* Hover effect */
.img-thumbnail:hover {
    transform: scale(1.1);
    opacity: 0.9;
    z-index: 10;
    /* overflow: visible; */
}
